:root {
/*   color */
      --white-color: #FFFFFF;
      --black-color: #000000;
      --blue-color: #0000FF;
      --red-color: #FF0000;
      --grey-dark-color: #C0C0C0;
      --grey-light-color: #F5F5F5;
      
/*   size */
      --padding: 12px;
      --avatar-size: 36px;
      
  
/*   font size */
      --font-large: 18px;
      --font-medium: 14px;
      --font-small: 12px;
      --font-micro: 10px; 
}

/* 기본설정 - 패딩, 마진 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;  /*   기본글꼴 설정 */
}

/* 리스트 모양 없애기 */
ul {
  list-style: none;
}

/* 버튼 설정 */
button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

/*  헤더설정 */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background: var(--black-color);
  color: var(--white-color);
}

header .logo {
  font-size: var(--font-large);  /*   로고 사이즈를 폰트크기로 설정 */
}

header .logo i {
  color: var(--red-color);  /*   아이콘 색깔 변경 */
}

header .icons .fa-search{
  margin-right: var(--padding);  /*   돋보기 아이콘 오른쪽 여백 주기 */
}

/* video player */
.player {
  position: sticky;  /*   스크롤할때 헤더가 보이도록 */
  top: 0; /*   스티키할 때 힌트 */
  text-align: center;
  background-color: var(--black-color);
}

/* 비디오 플레이어의 크기와 높이 최대 크기 지정 */
.player video{
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

/* video info */
.info{
  padding: var(--padding);
}

.info .metadata .hashtags{
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}

.info .metadata .hashtags li{
  margin-right: var(--padding);
}

.info .metadata .titleAndButton{
  display:flex;
}

.info .metadata .titleAndButton .title{
  font-size: var(--font-medium);
/*   타이틀 2줄로 제한 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: var(--padding);
}

.info .metadata .titleAndButton .moreBtn {
  height: 100%; /*   버튼의 크기조정 */
}

.info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

/* action button */
.info .action {
  display: flex;
  justify-content: space-around;
  margin: var(--padding);
}

.info .action button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .action i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size: 16px;
}

.action button i.active{
  color: var(--blue-color);
}