:root {
/*   color */
      --white-color: #FFFFFF;
      --black-color: #000000;
      --blue-color: #0000FF;
      --red-color: #FF0000;
      --grey-dark-color: #C0C0C0;
      --grey-light-color: #F5F5F5;
      
/*   size */
      --padding: 12px;
      --avatar-size: 36px;
      
  
/*   font size */
      --font-large: 18px;
      --font-medium: 14px;
      --font-small: 12px;
      --font-micro: 10px; 
}

/* 기본설정 - 패딩, 마진 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;  /*   기본글꼴 설정 */
}

/*  헤더설정 */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background: var(--black-color);
  color: var(--white-color);
}

header .logo {
  font-size: var(--font-large);  /*   로고 사이즈를 폰트크기로 설정 */
}

header .logo i {
  color: var(--red-color);  /*   아이콘 색깔 변경 */
}

header .icons .fa-search{
  margin-right: var(--padding);  /*   돋보기 아이콘 오른쪽 여백 주기 */
}