/* 변수를 미리 선언 */
:root {
/* color */
    --white-color:#FFFAFA;
    --black-color:#000000;
    --blue-color:#0000CD;
    --red-color:#FF0000;
    --grey-dark-color:#A9A9A9;
    --grey-light-color:#DCDCDC;
    
/*   size */
      --padding: 12px;
      --avatar-size: 36px;

/*   Font size */
      --font-large: 18px;
      --font-medium: 14px;
      --font-small: 12px;
      --font-micro: 10px;
      --icon-large: 16px;
}

/* 문서전체에 적용 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 바디 부분에 적용 */
body {
  font-family:Roboto; /* 글꼴 지정 */
}

ul {
  list-style: none;
}

/* 버튼형식 지정하기  */
button,
button:focus{
  border: none;
  cuser: pointer;
  outline:none;
  background-color: transparent;  /*   버튼 배경 투명하게 하기 */
}

/* header */
header {
  display: flex;
  justify-content: space-between; /*   아이템을 첫줄에 일정하게 배치 */
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo{
  font-size: var(--font-large);
} /* 아이콘 크기를 폰트 크기로 지정 */

header .logo i {
  color: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--padding)
}

/* video player */
.player {
  position: sticky;   /*   스크롤 하더라도 상단에 플레이어 고정 */
  top: 0;  /*   탑 0에 비디오 고정 */
  text-align:center;
  background-color:var(--black-color);
}

.player video {
  width: 100%;
  height: 100%;
  max-width:1000px; /*   최고 너비 지정 */
}

body > .info {
  padding: var(--padding);
}

.info .metadata .hashtags {
  display: flex;  /*   한줄로 배치  */
  font-size: var(--font-samll);
  color: var(--blue-color)
}

.info .metadata .hashtags li{
  margin-right: var(--padding);
}

.info .metadata .titleAndButton{
  display: flex;
}

.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);
  margin-right: var(--padding);
}

.info .metadata .titleAndButton .title.clamp{ /* 타이틀이 클릭되면 적용하기 */
    /*   타이틀의 내용을 2줄로 제한  : line clamp */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info .metadata .titleAndButton .moreBtn {
  height: 100%;
  transition: transform 300ms easy-in-out
}

.info .metadata .titleAndButton .moreBtn.clicked {  /* moreBtn을 클릭하면 버튼이 180도 돌아감. */
  transform: rotate(180deg);
}


.info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

/* Action Button */
.info .actions {
  display: flex;
  justify-content: space-around;  /*   아이콘들을 한줄에 일정한 간격으로 배열하기  */
  margin: var(--padding) 0;
}

.info .actions button {
  display: flex;
  flex-direction: column; /*   버튼과 글자를 아래위로 두기 위해서 플레스 - 플래스 방향은 칼럼 */
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .actions button i{
  margin: 0 auto; /*   버튼과 아래의 글자를 가운데에 정렬하기위해서 여백 조정  */
  margin-bottom: calc(var(--padding) /2);
  font-size : var(--icon-large);
}

.info .actions button i.active{
  color: var(--blue-color); /*   선택된 아이콘은 파란색 처리 */
}

/* Channel */
.channel {
  display : flex;
  justify-content: space-between; /*   아이템들을 한줄에 골고루 배치 */
  border-top: 1px solid var(--grey-light-color);  /*   영역을 구분할 선긋기  */
  border-bottom: 1px solid var(--grey-light-color); /*   영역을 구분할 선긋기  */
}

.channel .metadata{
  display: flex;
  align-items: center;  /*   아이템을 세로로 가운데정렬  */
}

.channel .metadata img{
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%; /*   이미지의 테두리를 둥글게 설정  */
}

.channel .metadata .info{
  display: flex;
  flex-direction: column; /*   한줄로 나란하게 플렉스된 아이템을 층으로 쌓음  */
}

.channel .metadata .info .name{
  font-size: var(--font-medium);
}

.channel .metadata .subcribers{
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.channel .subscribe{
  font-size: var(--font-small);
  color: var(--red-color);
  text-transform: uppercase;  /*   글자를 대문자로 바꿔줌  */
}

/* UpNext Section */
.UpNext {
  padding: 0 var(--padding);
}


.UpNext > .title {  /* upnext 바로 아래 타이틀에게 고정하기 위해서 >를 사용  */
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  margin-bottom: var(--padding);  /*   todo: 작동하지 않음. */
}

.UpNext .item{
  display: flex;
  margin-top: var(--padding);
}

.UpNext .item .img{
  flex: 1 1 35%;  /* 크기를 줄이더라도 1대 1대 베이스는 35%크기  */
  margin-right: var(--padding);
}

.UpNext .item .img img{
  width: 100%;
}

.UpNext .item .info{
  flex: 1 1 60%;
}

.UpNext .item .moreBtn{
  flex: 1 1 5%;
}

.UpNext .item .info {
  display: flex;
  flex-direction: column; /*   플렉스 한후에 쌓는 방향을 세로로 쌓기  */
}

.UpNext .item .info .title{
  font-size: var(--font-small);
}

.UpNext .item .info .name,
.UpNext .item .info .views{
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}

.infoAndUpNext {
  display: flex;  /* 평소에는 플렉스가 컬럼 형태 폭이 768이내일때 */
  flex-direction: column;
}

@media screen and (min-width: 768px){
  .infoAndUpNext{
    flex-direction: row;  /*   스크린이 768보다 커지면 플렉스 방향을 열로(옆으로)구성 */
    margin; var(--padding) 0;
  }
}