/* 변수를 미리 선언 */
:root {
/* color */
    --white-color:#FFFAFA;
    --black-color:#000000;
    --blue-color:#0000CD;
    --red-color:#FF0000;
    --grey-dark-color:#A9A9A9;
    --grey-light-color:#DCDCDC;
    
/*   size */
      --padding: 12px;
      --avatar-size: 36px;

/*   Font size */
      --font-large: 18px;
      --font-medium: 14px;
      --font-small: 12px;
      --font-micro: 10px;
}

/* 문서전체에 적용 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 바디 부분에 적용 */
body {
  font-family:Roboto; /* 글꼴 지정 */
}

ul {
  list-style: none;
}

/* 버튼형식 지정하기  */
button,
button:focus{
  border: none;
  cuser: pointer;
  outline:none;
}

/* header */
header {
  display: flex;
  justify-content: space-between; /*   아이템을 첫줄에 일정하게 배치 */
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo{
  font-size: var(--font-large);
} /* 아이콘 크기를 폰트 크기로 지정 */

header .logo i {
  color: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--padding)
}

/* video player */
.player {
  position: sticky;   /*   스크롤 하더라도 상단에 플레이어 고정 */
  top: 0;  /*   탑 0에 비디오 고정 */
  text-align:center;
  background-color:var(--black-color);
}

.player video {
  width: 100%;
  height: 100%;
  max-width:1000px; /*   최고 너비 지정 */
}

.info {
  padding: var(--padding);
}

.info .metadata .hashtags {
  display: flex;  /*   한줄로 배치  */
  font-size: var(--font-samll);
  color: var(--blue-color)
}

.info .metadata .hashtags li{
  margin-right: var(--padding);
}

.info .metadata .titleAndButton{
  display: flex;
}

.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);
  /*   타이틀의 내용을 2줄로 제한  : line clamp */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: var(--padding);
}

.info .metadata .titleAndButton .moreBtn {
  height: 100%;
}

.info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

